body {
    background-color: #fdfcdc;
}
h1 {
    background-color:#f07167 ;
    color: #fdfcdc;
    padding: .7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: auto;
    margin-bottom: 1.5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    border: 3px solid #284b63;
}
h1:nth-of-type(2n) {
    background-color: #eaac8b;
}
h1:nth-of-type(3n) {
    background-color: #00afb9;
}
h1:nth-of-type(4n) {
    background-color: #0081a7;
}
section:first-of-type h1:nth-of-type(1) {
    transform: rotate(180deg);
}
section:first-of-type h1:nth-of-type(2) {
    transform: scale(.6,1);
}
section:first-of-type h1:nth-of-type(3) {
    transform: translate(200px, 50px);
}
section:first-of-type h1:nth-of-type(4) {
    transform: translateX(-100px);
}
section:nth-of-type(2) h1:nth-of-type(1) {
    transform: skew(10deg, 5deg)
}
section:nth-of-type(2) h1:nth-of-type(2) {
    transform: skew(30deg)
}
section:nth-of-type(2) h1:nth-of-type(1) {
    transform: rotate(80deg) scale(1.6) translateY(200px);
}
section:nth-of-type(2) h1:nth-of-type(3) {
    transform: rotate(90deg) skew(30deg) translateY(-200px);
}
section:nth-of-type(2) h1:nth-of-type(4) {
    transform: rotate(180deg) scaleX(2.6) translateY(-400px) skew(-30deg) ;
}
section:nth-of-type(2) {
    transform: scale(.6);
}
footer {
    text-align: center;
}
nav > ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    
}